body{
    background-color: #6d6d6d;
}

#logo{
    width: 40%;
    margin-top:0;
    border:none;
}


.nav{
    
    font-size: 150%;
    margin-left: 30%;
    margin-right: 10%;

}


#phone{
  
 
}


